.add-games-container {
    background-color: #3f81bb;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    height:20% ;
  

  }
  
  .add-games-header {
    text-align: center;
   
    font-size: 3rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: px; */
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #550c0c;
  }
  
  input {
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-top: 5px;
    font-size: 1.2rem;
  }
  
  button {
    background-color: #02ac1e;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  