.team-info-container {
    text-align: center;
    margin: 50px;
    background-image: url(https://cdn.nba.com/manage/2023/05/GettyImages-1252518497-1536x864.jpg);
    color: rgb(230, 9, 20);
    font-weight: bolder;
    background-size: cover;
    height: 900px;
  }
  
  .team-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team-info-card-1{
  margin-right: 10px;
    
  }

  .team-info-card-2{
margin-left: 10px;

  }
