:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #201e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
Table,Tbody,thead,th,td{
  border-collapse: collapse;
    border:1px solid rgb(188, 192, 175)
  
}
.nav {
  border: 2px solid #723a3a;
  background-color: #fafafa;
  border-radius: 5px;
  height: 40px;
}
.link-1 ,.link-2  ,.link-3,.link-4 {
  color: #641313;
margin: 5px;

}



.container-1{
  text-align: center;
  justify-content: center;
  align-items: center;


}

.head-1{
position: relative;

}
 .game-preview-table {
  display: flex;
  flex-direction: column;

  border: 1px solid rgb(104, 59, 59);
  margin: 10px;
  padding: 10px;
  width: 600px; 
}


.team-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.team-name {
  position: relative;
  cursor: pointer;
  width: 50%;
  text-align: center;
}
.game-preview-details {
 position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20%;
  height: fit-content;
  padding: 20px;
  background-color: #960c0c;
  box-shadow: 0px 0px 10px rgba(161, 7, 7, 0.2);
}
.team-logo:hover::before {
  content: attr(title);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0c0b0b;
  padding: 5px;
  border: 1px solid rgb(104, 59, 59);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
} 
.vs {
  
  font-size: 20px;
}



.conference {
  font-style: italic;
} 


.match-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.match-date p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.match-details {
  background-color: #141313;
  padding: 10px;
  border-radius: 4px;
}

.match-details p {
  margin: 0;
  font-size: 6px;
}
.match-details {
background-image: url(https://content.cdn.sap.com/is/image/sap/GettyImages-57580930_WNBA_Exclusive:HeroL-3840x1044?wid=1920&hei=522&fit=stretch,1);
height: 374px;
}

.team-0 {

display: flex;
justify-content: center;
}

.home {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: oblique;
font-display: initial;
font-weight: bolder;
color: rgba(210, 208, 243, 0.8); /* adjust opacity here */
flex-direction: row;
align-items: center;
margin-right: 190px;
}

.away {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: oblique;
font-display: initial;
font-weight: bolder;
color: rgba(210, 208, 243, 0.8); /* adjust opacity here */
flex-direction: row-reverse;
align-items: center;
margin-left: 190px;
}

.away img {
  margin-left: 10px;
}

.match-date {
 
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.match-date p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.match-teams {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.match-teams p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
