:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  /* For example, mobile devices */
  :root {
    font-size: 14px;
    /* Set smaller font size */
  }
}

@media (min-width: 769px) {
  /* Styles for screens larger than 768px */
  /* For example, desktop screens */
  :root {
    font-size: 16px;
    /* Set larger font size */
  }
}


.container-1{
  text-align: center;
  justify-content: center;
  align-items: center;


}

.head-1{
position: relative;

}
 .game-preview-table {
  display: flex;
  flex-direction: column;

  border: 1px solid rgb(104, 59, 59);
  margin: 10px;
  padding: 10px;
  width: 600px; 
}


.team-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.team-info button{
  color: #850b0b;
}

.team-name {
  position: relative;
  cursor: pointer;
  width: 50%;
  text-align: center;
}
.game-preview-details {
 position: fixed;
  top: 70px;
  bottom: 0;
  right: 0;
  width: 30%;
  height: fit-content;
  padding: 20px;
  background-color: #720505;
  box-shadow: 0px 0px 10px rgba(161, 7, 7, 0.2);
}
.team-logo:hover::before {
  content: attr(title);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0c0b0b;
  padding: 5px;
  border: 1px solid rgb(104, 59, 59);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
} 
.vs {
  color: #114d92;
  font-size: 20px;
  font-weight: bold;
}



.conference {
  font-style: italic;
} 




.match-date {
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-top: 130px;

}

.match-date p {
  margin: 0;
  font-weight: bold;
  font-size: 28px;
  color: #a80909;
}
.match-vs{
  color: #850b0b;
  font-size: 35px;
  font-weight: bold;
}

.match-details {
  background-color: #141313;
  padding: 10px;
  border-radius: 4px;
}

.match-details p {
  margin: 0;
  font-size: 6px;
}
.match-details {
background-image: url(https://content.cdn.sap.com/is/image/sap/GettyImages-57580930_WNBA_Exclusive:HeroL-3840x1044?wid=1920&hei=522&fit=stretch,1);
height: 374px;
}

.team-0 {

display: flex;
justify-content: center;
}

.home {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: oblique;
font-display: initial;
font-weight: bolder;
color: rgba(6, 206, 6, 0.8); /* adjust opacity here */
flex-direction: row;
align-items: center;
margin-right: 190px;
}

.away {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: oblique;
font-display: initial;
font-weight: bolder;
color: rgb(6, 206, 6,0.8); /* adjust opacity here */
flex-direction: row-reverse;
align-items: center;
margin-left: 190px;
}

.away img {
  margin-left: 10px;
}



.match-date p {
  margin: 0px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 50px;
}

.match-teams {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.match-teams p {
  margin: 0;
  font-size: 6px;
  font-weight: bold;
  margin-right: 5px;
}
.header {
  background-image: url(https://cdn.nba.com/manage/2023/05/GettyImages-1252518497-1536x864.jpg);
  width: 92.5%;
	height: 100%;
	padding: 50px;
  height: 900px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-size: cover;
	background-attachment: fixed;
  text-align: center;
  color: #cc1010;
}


h2 {
  font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.vh-100 {
  height: 100vh;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.border {
  border: 1px solid #ccc;
}

.bg-secondary {
  background-color: #6c757d;
}

.text-white {
  color: #fff;
}

.p-5 {
  padding: 2rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-gameinfo {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-gameinfo:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
h1 {
  font-style: italic;
  font-family: 'Dancing Script', cursive;
	font-size: 40px;
	margin-bottom: 30px;
}

table,thead,tbody,td,tr,th{
  border: 1px solid white;
  border-collapse: collapse
}

.notfound{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 413px;
  width: 735px;
  background-repeat: no-repeat;
 background-size: cover;

 background-image: url(https://cdn.nba.com/manage/2023/05/juliusrandle-29.jpg?w=735&h=413);

}